body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  padding: 20px;
  justify-content: space-between;
  flex-direction: row-reverse;
}

header h1 {
  margin-left: 20px;
}

#menu-icon {
  display: none; /* only display on mobile */
}

#menu {
  display: flex; /* default display value */
  justify-content: flex-start;
  text-align: left;
  margin-left: 20px;
}

#menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#menu li {
  margin: 0 20px;
}

#menu a {
  text-decoration: none;
  color: white;
}

#social-icons img {
  width: 30px;
  margin: 0 10px;
}

/* Dot Navigation Styles */
#dot-nav {
  position: fixed;
  left: 10px;
  bottom: 10px;
  display: flex;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background-color: rgb(255, 255, 255);
}

/* Main Content Styles */
main {
  padding: 50px;
}

.page {
  display: none;
}

.page.show {
  display: block;
  animation: fadeInUp 0.5s ease;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Footer Styles */
footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
}